<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:networkSecurityConfig="@xml/network_security_config"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.SoundBoardJava"
        tools:targetApi="31">
        <activity
            android:name=".Posteanimateur"
            android:exported="false" />
        <activity
            android:name=".Poste10B"
            android:exported="false" />
        <activity
            android:name=".Poste10A"
            android:exported="false" />
        <activity
            android:name=".Poste9B"
            android:exported="false" />
        <activity
            android:name=".Poste9A"
            android:exported="false" />
        <activity
            android:name=".Poste8B"
            android:exported="false" />
        <activity
            android:name=".Poste8A"
            android:exported="false" />
        <activity
            android:name=".Poste7B"
            android:exported="false" />
        <activity
            android:name=".Poste7A"
            android:exported="false" />
        <activity
            android:name=".Poste6B"
            android:exported="false" />
        <activity
            android:name=".Poste6A"
            android:exported="false" />
        <activity
            android:name=".Poste5B"
            android:exported="false" />
        <activity
            android:name=".Poste5A"
            android:exported="false" />
        <activity
            android:name=".Poste4B"
            android:exported="false" />
        <activity
            android:name=".Poste4A"
            android:exported="false" />
        <activity
            android:name=".Poste3B"
            android:exported="false" />
        <activity
            android:name=".Poste3A"
            android:exported="false" />
        <activity
            android:name=".Poste2A"
            android:exported="false" />
        <activity
            android:name=".Poste2B"
            android:exported="false" />
        <activity
            android:name=".Poste1B"
            android:exported="false" />
        <activity
            android:name=".Poste1A"
            android:exported="false" />
        <activity
            android:name=".BoiteDeSon"
            android:exported="false" />
        <activity
            android:name=".LogIn"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>